.contact {
  position: relative;
}

.data {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 400px;
  width: 48%;
  padding: 5.5vw 3.5vw;
  line-height: 50px;
  line-height: 1.55;
  background-color: #fff;
  z-index: 1;
}
@media screen and (max-width: 1200px) {
  .data {
    top: 400px;
  }
}
@media screen and (max-width: 768px) {
  .data {
    width: 60%;
    padding: 6.5vw 0.5vw;
  }
}
@media screen and (max-width: 578px) {
  .data {
    left: 50%;
    width: 90%;
  }
}
.data__descr {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: row;
  gap: 1.5vw;
  flex-wrap: wrap;
}
.data__title {
  margin-bottom: 42px;
}
@media screen and (max-width: 992px) {
  .data__title {
    margin: 10px 0 20px;
    font-size: 30px;
  }
}

.descr .text {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  height: 196px;
}
.descr .text img {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
.descr a {
  text-decoration: none;
  color: #2C4058;
}

.form {
  margin: 0;
  flex-wrap: wrap;
}
.form__btn {
  font-size: 18px;
  line-height: 1.5;
  padding: 12px 30px;
  margin-bottom: 40px;
  margin-top: 20px;
}
@media screen and (max-width: 992px) {
  .form__btn {
    padding: 10px 30px;
    font-size: 14px;
  }
}

input {
  display: block;
  border: none;
  border-bottom: 2px solid #9da2a8;
  width: 19vw;
  height: 41px;
  padding: 5px;
}
@media screen and (max-width: 992px) {
  input {
    width: 100%;
  }
}