@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0;
}

h2 {
  font-size: 1.5em;
  margin: 0;
}

h3 {
  font-size: 1.17em;
  margin: 0;
}

h4 {
  font-size: 1em;
  margin: 0;
}

h5 {
  font-size: 0.83em;
  margin: 0;
}

h6 {
  font-size: 0.75em;
  margin: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.first-screen {
  position: relative;
  max-height: 1600px;
}

.slider__item {
  position: relative;
  height: 100vh;
}
.slider__item::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(126, 90, 255, 0.79), rgba(85, 183, 255, 0.91));
}
.slider__content {
  position: absolute;
  top: 330px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 992px) {
  .slider__content {
    top: 250px;
  }
}
.slider__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding-left: 0;
  list-style: none;
  position: absolute;
  top: 40%;
  right: 50px;
}
@media screen and (max-width: 1200px) {
  .slick-dots {
    top: 37%;
    right: 75px;
  }
}
@media screen and (max-width: 950px) {
  .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    top: 70%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@media screen and (max-width: 768px) {
  .slick-dots {
    top: 75%;
  }
}

.slick-dots li.slick-active button {
  background-color: #FFF;
}

.slick-dots button {
  font-size: 0;
  background: rgba(57, 87, 81, 0.59);
  border: 2px solid #ffddff;
  width: 16px;
  height: 16px;
  padding: 0;
  border-radius: 50%;
  box-shadow: 0 0 6px 0px #4e6a6c;
  cursor: pointer;
}

.scroll__link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
  width: 40px;
  height: 40px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  opacity: 0.7;
  position: absolute;
  z-index: 3;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.scroll__link:hover {
  background-color: #FFF;
}
.scroll__link:hover .scroll__icon {
  fill: #7E5AFF;
}
@media screen and (max-width: 992px) {
  .scroll__link {
    bottom: 50px;
  }
}
@media screen and (max-width: 768px) {
  .scroll__link {
    bottom: 30px;
  }
}
.scroll__icon {
  fill: #FFFFFF;
}

.slider-news {
  position: relative;
  padding: 0 115px;
}

.slider-news .slick-track {
  display: flex;
  gap: 30px;
  align-items: flex-star;
}

.slider-news .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  list-style: none;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 550px;
}

.slider-news .slick-list {
  overflow: hidden;
}

.slider-news .slick-slide {
  height: 514px;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  font-size: 0;
  border: 1px solid #FFF;
  background: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  opacity: 0.5;
}
.slick-arrow:hover {
  border: 2px solid #fff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}

.slick-prev {
  right: 3%;
}
.slick-prev::before {
  content: url("../assets/svg/next.svg");
}
@media screen and (max-width: 1200px) {
  .slick-prev {
    right: 6%;
  }
}

.slick-next {
  left: 3%;
}
.slick-next::before {
  content: url("../assets/svg/prev.svg");
}
@media screen and (max-width: 1200px) {
  .slick-next {
    left: 6%;
  }
}

.gallery {
  padding-bottom: 150px;
  text-align: center;
  margin: 0 auto;
}
.gallery__box {
  position: relative;
  padding: 5px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
}
.gallery__box-hide {
  display: none;
}
.gallery__item {
  position: relative;
  background-color: #333;
}
.gallery__item::before {
  content: url(../assets/svg/group.svg);
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  right: 44%;
  bottom: 50%;
  z-index: 3;
  opacity: 0;
}
.gallery__item_dob-row {
  grid-row: span 2;
  grid-column: span 2;
}
.gallery__link {
  display: block;
  width: 100%;
  height: 100%;
}
.gallery__btn {
  padding: 17px 57px;
  margin-top: 60px;
}

.gallery__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery__item:hover .galery__item::before {
  opacity: 1;
}

.contact {
  position: relative;
}

.data {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 400px;
  width: 48%;
  padding: 5.5vw 3.5vw;
  line-height: 50px;
  line-height: 1.55;
  background-color: #fff;
  z-index: 1;
}
@media screen and (max-width: 1200px) {
  .data {
    top: 400px;
  }
}
@media screen and (max-width: 768px) {
  .data {
    width: 60%;
    padding: 6.5vw 0.5vw;
  }
}
@media screen and (max-width: 578px) {
  .data {
    left: 50%;
    width: 90%;
  }
}
.data__descr {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: row;
  gap: 1.5vw;
  flex-wrap: wrap;
}
.data__title {
  margin-bottom: 42px;
}
@media screen and (max-width: 992px) {
  .data__title {
    margin: 10px 0 20px;
    font-size: 30px;
  }
}

.descr .text {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  height: 196px;
}
.descr .text img {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
.descr a {
  text-decoration: none;
  color: #2C4058;
}

.form {
  margin: 0;
  flex-wrap: wrap;
}
.form__btn {
  font-size: 18px;
  line-height: 1.5;
  padding: 12px 30px;
  margin-bottom: 40px;
  margin-top: 20px;
}
@media screen and (max-width: 992px) {
  .form__btn {
    padding: 10px 30px;
    font-size: 14px;
  }
}

input {
  display: block;
  border: none;
  border-bottom: 2px solid #9da2a8;
  width: 19vw;
  height: 41px;
  padding: 5px;
}
@media screen and (max-width: 992px) {
  input {
    width: 100%;
  }
}

.header__burger {
  display: none;
}
@media (max-width: 768px) {
  .header__burger {
    position: relative;
    display: block;
    width: 30px;
    height: 20px;
    z-index: 6;
    top: -4px;
    right: -55px;
  }
  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    width: 30px;
    top: 9px;
  }
  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    width: 30px;
    bottom: 9px;
  }
  .header__burger span {
    position: absolute;
    top: 9px;
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
  }
  .header__burger span.hide {
    opacity: 0;
  }
  .header__burger::after, .header__burger::before {
    content: "";
    position: absolute;
    left: 0;
    background: #fff;
    width: 35px;
    height: 2px;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
    width: 25px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  position: relative;
}

ul {
  list-style: none;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  color: #2C4058;
  font-size: 18px;
  font-weight: 400;
}

img {
  display: block;
}

.section,
.footer {
  padding: 0 calc(50vw - 585px);
}
@media screen and (max-width: 1200px) {
  .section,
  .footer {
    padding: 0 calc(50vw - (585px - 12%));
  }
}
@media screen and (max-width: 992px) {
  .section,
  .footer {
    padding: 0 calc(50vw - (585px - 19%));
  }
}
@media screen and (max-width: 768px) {
  .section,
  .footer {
    padding: 0 30px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 70px;
  position: absolute;
  top: 53px;
  right: 130px;
  z-index: 3;
  width: 80%;
  -webkit-transform: translate(50px);
          transform: translate(50px);
  padding: 0 30px;
}
@media screen and (max-width: 992px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 0;
  }
}
@media screen and (max-width: 769px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 0;
  }
}
@media screen and (max-width: 580px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 0;
  }
}

@media screen and (max-width: 768px) {
  .logo__img {
    width: 50vw;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 50px;
}
@media screen and (max-width: 1200px) {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }
}
@media (max-width: 580px) {
  .nav {
    position: fixed;
    top: 15px;
    left: -110%;
    width: 100%;
    height: 100%;
    padding: 70px 0 0 0;
    transition: all 0.3s;
    display: block;
  }
  .nav.active {
    left: 80px;
  }
}
@media screen and (max-width: 580px) {
  .nav-social {
    background-color: rgba(126, 90, 255, 0.8588235294);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
  }
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 70px;
  font-family: "Source Sans 3", sans-serif;
  font-size: 14px;
  padding: 18px 0;
}
@media screen and (max-width: 992px) {
  .menu {
    padding: 0;
  }
}
@media screen and (max-width: 580px) {
  .menu {
    background-color: rgba(126, 90, 255, 0.8588235294);
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
  }
}
.menu__item {
  position: relative;
}
.menu__item::before {
  content: "";
  display: block;
  position: absolute;
  width: 9px;
  height: 9px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -23px;
}
.menu__link {
  color: #FFF;
  text-decoration: none;
}

.menu__item:hover::before {
  background: #FFFFFF;
}

.menu__item:hover .menu__link {
  font-size: 16px;
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

.list {
  padding: 7px 0;
}
@media screen and (max-width: 768px) {
  .list {
    margin: 0;
  }
}
.list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 768px) {
  .list__item {
    width: 45px;
    height: 45px;
  }
}
.list__item:hover {
  background-color: #FFF;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
  width: 40px;
  height: 40px;
}
.list__icon {
  fill: #FFFFFF;
}

.list__item:hover .list__icon {
  fill: #7E5AFF;
}

.list__item:hover .list__link {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.project-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 70px;
  position: relative;
  margin-bottom: 150px;
}
@media screen and (max-width: 992px) {
  .project-content {
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 70px;
  }
}

.content {
  font-family: "Montserrat", sans-serif;
}
.content__title-1 {
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 8px;
  margin-bottom: 20px;
  color: #FFF;
  padding: 0, 100px;
}
@media screen and (max-width: 1200px) {
  .content__title-1 {
    font-size: 60px;
  }
}
@media screen and (max-width: 992px) {
  .content__title-1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 768px) {
  .content__title-1 {
    font-size: 50px;
    margin-top: 30px;
  }
}
.content__title-2 {
  position: relative;
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 19px;
}
@media screen and (max-width: 768px) {
  .content__title-2 {
    font-size: 40px;
    margin-bottom: 30px;
  }
}
.content__title-2-news {
  text-align: center;
  color: #FFF;
  margin-bottom: 90px;
}
.content__title-2-news::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -30px;
  width: 100px;
  height: 1px;
  background-color: #FFF;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.content__title-3 {
  letter-spacing: 5.4px;
  color: #FFF;
}
@media screen and (max-width: 992px) {
  .content__title-3 {
    letter-spacing: 0.4px;
  }
}
.content__title-4 {
  font-size: 22px;
  font-weight: 400;
}
.content__text {
  line-height: 30px;
  margin-bottom: 10px;
}
.content-revers {
  flex-direction: row-reverse;
}
.content__btn {
  margin-bottom: 60px;
  margin-top: 40px;
}
.content__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.content__img-blue {
  box-shadow: -13vw -57px #55b7ff;
}
.content__img-violet {
  box-shadow: 13vw -57px #7e5aff;
}

.news-info__text {
  display: none;
}

.btn {
  width: 190px;
  height: 50px;
  background-color: transparent;
  border: 1px solid #2C4058;
  padding: 16px 40px;
  font-size: 14px;
}
.btn:hover {
  background-color: #55B7FF;
  color: #FFF;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-2 {
  text-align: center;
}
.title-2::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -30px;
  width: 100px;
  height: 1px;
  background-color: rgb(44, 64, 88);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.title-2_mg {
  margin: 130px 0 90px;
}

.projects .title-2::before {
  top: -30px;
}

.location {
  position: relative;
}
.location__link {
  color: #000;
  font-size: 15px;
  font-style: italic;
  text-decoration: none;
  margin-left: 15px;
}
.location__link::before {
  content: url(../assets/svg/location.svg);
  position: absolute;
  display: block;
  height: 17px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.location__link:hover {
  text-decoration: underline;
  color: #7E5AFF;
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.location__link:hover .location__link::before {
  fill: #7E5AFF;
}

.latest-news {
  position: relative;
  padding: 150px 0;
  background: url(../assets/img/background-2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 0;
  height: 515px;
  width: 370px;
  background: #ffffff;
}
.card__img img {
  width: 100%;
  height: 100%;
}
.card__content {
  padding: 30px 1.2vw;
  margin: 0 auto;
}
.card__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 15px;
}
.card__text {
  margin-bottom: 45px;
}

.autor {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
.autor__photo img {
  border-radius: 50%;
}
.autor__name {
  margin-bottom: 6px;
}
.autor__data {
  color: #55B7FF;
  margin-bottom: 8px;
}

.map__location {
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(95%);
          filter: grayscale(95%);
  padding-top: 150px;
}
@media screen and (max-width: 992px) {
  .map__location {
    padding-top: 70px;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 369px;
  height: 549px;
  padding-top: 300px;
  padding-bottom: 100px;
  background: url(../assets/img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 580px) {
  .footer {
    height: 450px;
    padding-top: 150px;
    padding-bottom: 100px;
  }
}
.footer__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 41px;
}
.footer__copiraiter {
  font-family: "Montserrat", sans-serif;
  color: #FFF;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .footer__copiraiter {
    font-size: 20px;
  }
}
@media screen and (max-width: 992px) {
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 200px;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
  }
}