.contacts {
   width: 770px;
   background: #FFFFFF;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   bottom: -160px;
   padding: 90px 60px 70px;
   text-align: center;

   // & .title_2 {
   //    margin-bottom: 42px;
   // }

   &__container {
      @include flex(space-between, flex-start, row, 54px);
   }

   &__info {
      text-align: left;
   }

   &__text {
      font-family: 'Montserrat', sans-serif;
      line-height: 28px;
      color: #000000;
      margin-bottom: 28px;
   }

   &__form {
      display: flex;
      flex-direction: column;
      gap: 32px;
   }

   &__info,
   &__form {
      width: 50%;
   }

   .input {
      font-family: 'Montserrat', sans-serif;
      color: #000000;
      padding: 0 0 14px;
      border: none;
      border-bottom: 1px solid #2c405833;

      &:focus {
         outline: none;
         border-bottom-color: #2C4058;
      }
   }

   .btn-submit {
      width: 45%;
      margin-left: auto;
      font-size: 18px;
      line-height: 1.5;
      padding: 12px 32px 12px 30px;
   }

   &__icon {
      vertical-align: middle;
   }
}