@import 'normalize';
@import 'mixins';
@import 'slider';
@import 'gallery';
@import 'contacts';
@import 'vars';
@import 'burger';



* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;

}

main {
   position: relative;
}

ul {
   list-style: none;
}

html,
body {
   font-family: 'Open Sans', sans-serif;
   color: #2C4058;
   font-size: 18px;
   font-weight: 400;
}

img {
   display: block;
}

.section,
.footer {
   padding: 0 calc(50vw - $adaptive_width_content);

   @media screen and (max-width: 1200px) {
      padding: 0 calc(50vw - calc($adaptive_width_content - 12%));
   }

   @media screen and (max-width: 992px) {
      padding: 0 calc(50vw - calc($adaptive_width_content - 19%));
   }

   @media screen and (max-width: 768px) {
      padding: 0 30px;
   }
}

.header {
   @include flex(space-between, center, row, 70px);
   position: absolute;
   top: 53px;
   right: 130px;
   z-index: 3;
   width: 80%;
   transform: translate(50px);
   padding: 0 30px;

   @media screen and (max-width: 992px) {
      @include flex(space-between, center, column, 0);
   }

   @media screen and (max-width: 769px) {
      @include flex(space-between, center, row, 0);
   }

   @media screen and (max-width: 580px) {
      @include flex(space-between, center, row, 0);
   }
}


.logo__img {
   @media screen and (max-width: 768px) {
      width: 50vw;
   }
}

.nav {
   @include flex(space-between, center, row, 50px);

   @media screen and (max-width: 1200px) {
      @include flex(space-between, center, column, 20px);
   }

   @media screen and (max-width: 768px) {
      display: none;
   }

   @media (max-width: 768px) {
      position: fixed;
      top: 15px;
      left: -110%;
      width: 100%;
      height: 100%;
      padding: 70px 0 0 0;
      transition: all 0.3s;
      display: block;

      &.active {
         left: 80px;
      }
   }

   &-social {
      @media screen and (max-width: 768px) {
         background-color: #7e5affdb;
         @include flex(center, center, row, 30px);
      }
   }
}

.menu {
   @include flex(center, center, row, 70px);
   font-family: 'Source Sans 3', sans-serif;
   font-size: 14px;
   padding: 18px 0;

   @media screen and (max-width: 992px) {
      padding: 0;
   }

   @media screen and (max-width: 768px) {
      background-color: #7e5affdb;
      padding: 30px 0;
      @include flex(center, center, column, 30px);
   }

   &__item {
      position: relative;

      &::before {
         content: '';
         display: block;
         position: absolute;
         width: 9px;
         height: 9px;
         border: 1px solid #FFFFFF;
         border-radius: 50%;
         top: 50%;
         transform: translateY(-50%);
         left: -23px;
      }
   }

   &__link {
      color: #FFF;
      text-decoration: none;
   }

}

.menu__item:hover::before {
   background: #FFFFFF;
}

.menu__item:hover .menu__link {
   font-size: 16px;
   transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social {
   &__list {
      @include flex(center, center, row, 20px);
   }
}

.list {
   padding: 7px 0;

   @media screen and (max-width: 768px) {
      margin: 0;
   }

   &__item {
      @include flex(center, center, row, 0);
      width: 40px;
      height: 40px;
      border: 1px solid #ffffff66;
      border-radius: 50%;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

      @media screen and (max-width: 768px) {
         width: 45px;
         height: 45px;
      }

      &:hover {
         background-color: #FFF;
         transform: scale(1.2);
      }
   }

   &__link {
      @include flex(center, center, row, 0);
      width: 40px;
      height: 40px;
   }

   &__icon {
      fill: #FFFFFF;
   }
}

.list__item:hover .list__icon {
   fill: #7E5AFF;
}

.list__item:hover .list__link {
   transform: scale(1.3);
}

.project-content {
   @include flex(center, center, row, 70px);
   position: relative;
   margin-bottom: 150px;

   @media screen and (max-width: 992px) {
      margin-bottom: 70px;
      @include flex(center, center, column, 70px);
   }
}

.content {
   font-family: 'Montserrat', sans-serif;

   &__title-1 {
      font-size: 80px;
      font-weight: 700;
      letter-spacing: 8px;
      margin-bottom: 20px;
      color: #FFF;
      padding: 0, 100px;

      @media screen and (max-width: 1200px) {
         font-size: 60px;
      }

      @media screen and (max-width: 992px) {
         font-size: 50px;
      }

      @media screen and (max-width: 768px) {
         font-size: 50px;
         margin-top: 30px;
      }
   }

   &__title-2 {
      position: relative;
      font-size: 44px;
      font-weight: 700;
      margin-bottom: 19px;

      @media screen and (max-width: 768px) {
         font-size: 40px;
         margin-bottom: 30px;
      }

      &-news {
         text-align: center;
         color: #FFF;
         margin-bottom: 90px;

         &::before {
            content: '';
            position: absolute;
            left: 50%;
            top: -30px;
            width: 100px;
            height: 1px;
            background-color: #FFF;
            transform: translateX(-50%);
         }
      }
   }

   &__title-3 {
      letter-spacing: 5.4px;
      color: #FFF;

      @media screen and (max-width: 992px) {
         letter-spacing: 0.4px;
      }
   }

   &__title-4 {
      font-size: 22px;
      font-weight: 400;
   }

   &__text {
      line-height: 30px;
      margin-bottom: 10px;
   }

   &-revers {
      flex-direction: row-reverse;
   }

   &__btn {
      margin-bottom: 60px;
      margin-top: 40px;

   }

   &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      &-blue {
         box-shadow: -13vw -57px #55b7ff;
      }

      &-violet {
         box-shadow: 13vw -57px #7e5aff;
      }
   }
}

.news-info__text {
   display: none;
}

.btn {
   width: 190px;
   height: 50px;
   background-color: transparent;
   border: 1px solid #2C4058;
   padding: 16px 40px;
   font-size: 14px;

   &:hover {
      background-color: #55B7FF;
      color: #FFF;
      transform: scale(1.2);
      transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
   }
}

.title-2 {

   text-align: center;

   &::before {
      content: '';
      position: absolute;
      left: 50%;
      top: -30px;
      width: 100px;
      height: 1px;
      background-color: rgba(44, 64, 88, 1);
      transform: translateX(-50%);
   }

   &_mg {
      margin: 130px 0 90px;
   }
}

.projects .title-2::before {
   top: -30px;
}

.location {
   position: relative;

   &__link {

      color: #000;
      font-size: 15px;
      font-style: italic;
      text-decoration: none;
      margin-left: 15px;


      &::before {
         content: url(../assets/svg/location.svg);
         position: absolute;
         display: block;
         height: 17px;
         left: 0;
         top: 50%;
         transform: translateY(-50%);

      }

      &:hover {
         text-decoration: underline;
         color: #7E5AFF;
         transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
      }
   }
}

.location__link:hover .location__link::before {
   fill: #7E5AFF;
}

.latest-news {
   position: relative;
   padding: 150px 0;
   background: url(../assets/img/background-2.png);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}

.card {
   @include flex(space-between, flex-start, column, 0);
   height: 515px;
   width: 370px;
   background: #ffffff;

   &__img img {
      width: 100%;
      height: 100%;
   }

   &__content {
      padding: 30px 1.2vw;
      margin: 0 auto;
   }

   &__title {
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      margin-bottom: 15px;
   }

   &__text {
      margin-bottom: 45px;
   }
}

.autor {
   font-family: 'Montserrat', sans-serif;
   @include flex(flex-start, center, row, 20px);

   &__photo img {
      border-radius: 50%;
   }

   &__name {
      margin-bottom: 6px;
   }

   &__data {
      color: #55B7FF;
      margin-bottom: 8px;
   }
}

.map {
   &__location {
      width: 100%;
      height: 100%;
      filter: grayscale(95%);
      padding-top: 150px;

      @media screen and (max-width: 992px) {
         padding-top: 70px;
      }
   }

}

.footer {
   @include flex(center, center, row, 369px);
   height: 549px;
   padding-top: 300px;
   padding-bottom: 100px;
   background: url(../assets/img/background.png);
   background-repeat: no-repeat;
   background-size: cover;

   @media screen and (max-width: 580px) {
      height: 450px;
      padding-top: 150px;
      padding-bottom: 100px;
   }

   &__logo {
      @include flex(space-between, center, column, 41px);
   }

   &__copiraiter {
      font-family: 'Montserrat', sans-serif;
      color: #FFF;
      font-size: 14px;

      @media screen and (max-width: 768px) {
         font-size: 20px;
      }
   }

   @media screen and (max-width: 992px) {
      @include flex(center, center, row, 200px);
   }

   @media screen and (max-width: 768px) {
      @include flex(center, center, column, 30px);
   }
}